.vscode/
.idea/
*.swp
*.swo
*~


*.wkw
*.wld
*.log
logs/

workshop/
steam_appid.txt

Thumbs.db
Desktop.ini
.DS_Store

*.bak
*.tmp
*.temp
cache/
tmp/

*.local
.env
.settings.local

crashes/
assets/
playbacks/
save00/
log*.txt
.gitignore